@charset "UTF-8";
* {
margin: 0;
padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --cor0:#025939;
  --cor1:#027333;
  --cor2: #03A63C;
  --detalhes: #04D939;
  --acabamento: #151a1d;
  --acabamento1: #8D9CA6;
   }


body{
    overflow-x: hidden;
    
    line-height: 1.5;
}
.pg1 {
  background-image: url('../img/fundob.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: white;
}


main p {/* texto e links */
  font-size: 16px;
  font-family: Arial, Verdana, sans-serif;
  text-align: justify;
  font-size: 18px;
  text-indent: 30px;
  line-height: 1.5em;
  
  }
  
  
  main{
      margin: auto;
      width: 95%;
      margin-bottom: 1px;
      margin: auto;
   
  }

  
  
  main h1 {
      text-align: center;
      
  }
  
  main p {
       
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          margin-right: 4%;
          margin-left: 3%;
      
  }
  
      h1 {font-family: 'Times New Roman', Times, serif;}
      h2 {font-family: 'Times New Roman', Times, serif;}
  span{text-align: center;}

a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#logo {
  margin: auto;
 
}

#header {
  box-sizing: border-box;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, var(--cor1), var(--cor2), var(--detalhes) );
  
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  letter-spacing: 3px;
 
  
}

#menu a {
  display: block;
  padding: 0.5rem;
  margin-right: 32px;
  
}


#btn-mobile {
  display: none;
}

@media (max-width: 1000px) {
  #menu {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    top: 9vh;
    right: 0px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), var(--detalhes) );
    z-index: 1000;
    height: 1010%;
    visibility: hidden;
    overflow-y: hidden;
    transition: all 0.8s ease
  }

    main{
      padding: 18px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px ;
      margin: auto;
      min-width: 310px;
      max-width: 800px;
      margin-bottom: 1px;
      padding-top: 90px;
      
    
    } 

  #header {
	box-sizing: border-box;
	position: fixed;
	z-index: 200;
	width: 100%;}

  #nav.active #menu {
    height: calc(100vh - 50px);
    visibility: visible;
    overflow-y: auto;
    
    
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
  
    
    /*border-bottom: 2px solid white;*/
   
  }
  #menu a:hover {
    padding-left: 10px;
    transition: all 0.3s ease;
    background: scroll;
     }


  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;

  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: white;
    margin-right: 32px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.8s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}


/*final*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--acabamento);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  text-align: center;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:#04D939;
	height: 2px;
  width: 100%;
	box-sizing: border-box;
  align-items: center;
  text-align: center;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
  text-align: center;
}
.footer-col ul li a:hover{
	color: white;
	padding-left: 8px;
  background: scroll;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
  font-size: 28px;
}
.footer-col .social-links a:hover{
	color: var(--acabamento);
	background-color: #ffffff;
}

.footer-col {
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
 
}

.footer-col .social-links {
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 5px;
    margin-left: 51px;
   
 
}

/*responsive*/
@media(max-width: 768px){
  .footer-col{
    width: 51%;
    margin-bottom: 30px;}
    .footer-col .social-links {
      margin-top: 10px;
      margin-bottom: 40px;
      margin-right: 5px;
      margin-left: 47px;}
}


@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media(max-width: 375px){
  .footer-col .social-links {
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 5px;
    margin-left: 17px;}
}
@media(max-width: 321px){
.footer-col .social-links {
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 5px;
  margin-left: 95px;}
}


.copyright { /* corporação 2022*/
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: var(--acabamento);
	color:  #bbbbbb;;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px; }

.consulta {
    text-align:center;	
    background: var(--detalhes);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    text-transform: uppercase;
    border-radius: 10px;
    width: 208px;
    height: auto;
    margin: auto;
    margin-top: 10px;
    position:relative;
    overflow:hidden;}
   
.consulta a {
    color:  white;
    ;
    font-weight: bold;
}

.consulta > a:hover {
    background: var(--cor0);
    
    
}
.consulta:hover {
  background: var(--cor0);
}

.ffisio {
  clip-path: circle(47% at 53% 48%);
  background: #151a1d;
  justify-content: space-around;
  overflow: hidden;
  margin-left:-2% ;

  
 
}

.ftres {
 
  display: flex;
  justify-content: space-around;
  
  
}
.pft {
  text-align: start;
  line-height: 2em;
  
}

#vtres {
  background: rgba(23, 253, 2, 0.233);
	box-shadow:rgba(2, 2, 2, 0.02);
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255,); }

